/* .app-container {
  font-family: 'Poppins', sans-serif;
  width: 700px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background: #f5f9f6;
  transition: all 0.3s ease-in-out;
}
 */
